## Tipos de dados coleção

* Lista
* Tupla
* Dicionário

Tipo de dados coleção são Heterogêneos.

### Lista

Lista é uma coleção de valores indexada, em que cada valor é identificado por um índice. O primeiro item na lista está no índice 0, o segundo no índice 1 e assim por diante.

Outra característica das listas no Python é que elas são mutáveis, podendo ser alteradas depois de terem sido criadas. Em outras palavras, podemos adicionar, remover e até mesmo alterar os itens de uma lista.

In [1]:
programadores = ['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']

In [2]:
number = [1, 2, 3, 4]

In [3]:
print(number)

[1, 2, 3, 4]

In [4]:
x = ['Roberto', 25, 1.73]

In [5]:
print(x)

['Roberto', 25, 1.73]

In [6]:
print(type(programadores))

<class 'list'>

In [7]:
print(type(x))

<class 'list'>

In [8]:
print(type(x[0]))

<class 'str'>

In [9]:
print(type(x[1]))

<class 'int'>

In [10]:
print(type(x[2]))

<class 'float'>

In [11]:
x[2] = 173

In [12]:
print(type(x[2]))

<class 'int'>

In [13]:
print(len(programadores))

5

In [14]:
print(programadores[4])

Luana

In [15]:
programadores = ['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']
print(programadores)

['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']

In [16]:
programadores[1] = 'Carolina'
print(programadores)

['Victor', 'Carolina', 'Samuel', 'Caio', 'Luana']

In [17]:
programadores.append('Renato')
print(programadores)

['Victor', 'Carolina', 'Samuel', 'Caio', 'Luana', 'Renato']

In [18]:
programadores = ['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']
programadores.insert(1, 'Rafael')

print(programadores)

['Victor', 'Rafael', 'Juliana', 'Samuel', 'Caio', 'Luana']

In [19]:
programadores.remove('Victor')
print(programadores)

['Rafael', 'Juliana', 'Samuel', 'Caio', 'Luana']

In [20]:
programadores.remove('Igor')

ValueError: list.remove(x): x not in list

In [21]:
print(programadores[10])

IndexError: list index out of range

In [22]:
print(programadores)

['Rafael', 'Juliana', 'Samuel', 'Caio', 'Luana']

In [23]:
programadores.pop(0)
print(programadores)

['Juliana', 'Samuel', 'Caio', 'Luana']

In [24]:
programadores.pop()

'Luana'

In [25]:
print(programadores)

['Juliana', 'Samuel', 'Caio']

In [26]:
programadores.pop(5)

IndexError: pop index out of range

### Tupla

Tupla é uma estrutura de dados semelhante a lista. Porém, ela tem a característica de ser imutável, ou seja, após uma tupla ser criada, ela não pode ser alterada.

In [27]:
times_rj = ('Botafogo', 'Flamengo', 'Fluminense', 'Vasco')

print(type(times_rj))

<class 'tuple'>

In [28]:
print(times_rj)

('Botafogo', 'Flamengo', 'Fluminense', 'Vasco')

In [29]:
print(times_rj[2])

Fluminense

In [30]:
vogais = ('a', 'e', 'i', 'o', 'u')

vogais[1] = 'E'

TypeError: 'tuple' object does not support item assignment

In [31]:
len(vogais)

5

### Dicionário

Os dicionários representam coleções de dados que contém na sua estrutura um conjunto de pares chave/valor, nos quais cada chave individual tem um valor associado. Esse objeto representa a ideia de um mapa, que entendemos como uma coleção associativa desordenada. A associação nos dicionários é feita por meio de uma chave que faz referência a um valor.

In [32]:
dados_cliente = {
    'Nome': 'Renan',
    'Endereco': 'Rua Cruzeiro do Sul',
    'Telefone': '982503645'
}

In [33]:
print(dados_cliente['Nome'])

Renan

In [34]:
dados_cliente = {
    'Nome': 'Renan',
    'Endereco': 'Rua Cruzeiro do Sul',
    'Telefone': '982503645'
}

In [35]:
print(dados_cliente)

{'Nome': 'Renan', 'Endereco': 'Rua Cruzeiro do Sul', 'Telefone': '982503645'}

In [36]:

dados_cliente['Idade'] = 40

print(dados_cliente)

{'Nome': 'Renan', 'Endereco': 'Rua Cruzeiro do Sul', 'Telefone': '982503645', 'Idade': 40}

In [37]:
dados_cliente.pop('Telefone', None)
print(dados_cliente)

{'Nome': 'Renan', 'Endereco': 'Rua Cruzeiro do Sul', 'Idade': 40}

In [38]:
del dados_cliente['Idade']

print(dados_cliente)

{'Nome': 'Renan', 'Endereco': 'Rua Cruzeiro do Sul'}

In [39]:
x = 10

In [40]:
print(x)

10

In [41]:
del x

In [42]:
print(x)

NameError: name 'x' is not defined

In [43]:
del dados_cliente['Telefone']

KeyError: 'Telefone'

### Funções para coleções

* min()
* max()
* sum()
* len()
* _type()_

In [44]:
numeros = (15, 5, 0, 20, 10, -10)
nomes = ['Caio', 'Alex', 'Renata', 'Patrícia', 'Bruno']

In [45]:
min(numeros)

-10

In [46]:
max(numeros)

20

In [47]:
sum(numeros)

40

In [48]:
min(nomes)

'Alex'

In [49]:
max(nomes)

'Renata'

### Listas de Listas

In [50]:
matrix = [[1, 2, 3], [4, 5, 6]]

In [51]:
matrix

[[1, 2, 3], [4, 5, 6]]

In [52]:
type(matrix)

list

In [53]:
type(matrix[0])

list

In [54]:
print(matrix[0][0])

1

### Listas de Tuplas

In [55]:
matrix = [(1, 2, 3), (4, 5, 6)]

In [56]:
type(matrix)

list

In [57]:
type(matrix[0])

tuple

### Dicionários com listas, tuplas e outros dicionários

In [58]:
x = {'elem1': [[1,2], [1, 2, 3]],
     'elem2': ([1,2], [2, 1]),
     'elem3': {'x': 1, 'y': 2}}

In [59]:
print(x)

{'elem1': [[1, 2], [1, 2, 3]], 'elem2': ([1, 2], [2, 1]), 'elem3': {'x': 1, 'y': 2}}

### Algumas formas de indexação

In [60]:
programadores = ['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']

In [61]:
programadores[-1]

'Luana'

In [62]:
programadores[-2]

'Caio'

In [63]:
programadores[1:3]

['Juliana', 'Samuel']

In [64]:
programadores[1:4]

['Juliana', 'Samuel', 'Caio']

In [65]:
programadores[1:]

['Juliana', 'Samuel', 'Caio', 'Luana']

In [66]:
programadores[2:]

['Samuel', 'Caio', 'Luana']

In [67]:
programadores[:-2]

['Victor', 'Juliana', 'Samuel']

In [68]:
programadores = ('Victor', 'Juliana', 'Samuel', 'Caio', 'Luana')

In [69]:
programadores[:-2]

('Victor', 'Juliana', 'Samuel')